@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .container-sm {
    @apply max-w-xs mx-auto sm:max-w-xl;
  }
  .container-md {
    @apply max-w-sm mx-auto md:max-w-xl;
  }
  .container-lg {
    @apply max-w-md mx-auto lg:max-w-2xl;
  }
  .container-xl {
    @apply max-w-lg mx-auto xl:max-w-4xl;
  }
  .container-2xl {
    @apply max-w-xl mx-auto 2xl:max-w-6xl;
  }
}
